/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #0067ac;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.row-heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  padding: 10px 0;
}

.row {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.row:last-child {
  border-bottom: none;
}

/*Styling for No Of TX*/
input.qty {
  width: 50px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[readonly] {
  background-color: #f9f9f9;
}

.col-6,
.col-3 {
  flex: 1;
}

.col-9.total {
  flex: 3;
}

.col-3.total-val {
  flex: 1;
}

#total-value {
  font-size: 2rem;
  margin-left: 0;
}

.text-right {
  text-align: right;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Additional styles for a more visually appealing form */
.label {
  font-weight: bold;
}

.row:nth-child(even) {
  background-color: #f9f9f9;
}

/* Styling for the right-side display box */
.display-box {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
}

.display-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.display-box p {
  margin-bottom: 5px;
  color: #333;
}

/*ReadOnly Value*/
input.readOnly {
  width: 65px; /* Keep the same width */
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Styling for input[type="text"] and input[type="number"] elements */
input[type="text"] {
  width: 50%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
}

input[type="text"]:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Styling for the selected items display box */
.selected-items-box {
  background-color: #f9f9f9;
  border: 2px solid #0067ac;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected-items-box h3 {
  margin-bottom: 10px;
  color: #333;
}

/* Add spacing between elements */
#claimant-name,
#invoice-number,
#clinic-name {
  margin-left: 10px;
}
